//Test colors
$primary: #1d1d1d;
$secondary: #ff5722;

//Test vars
$font-stack: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
$container-max-width: 38rem;
$container-padding: 2rem;

body {
    font-family: $font-stack;
    margin: auto;
    max-width: $container-max-width;
    padding: $container-padding;
}
